body {
    font-size: 16px; 
    font-family: Arial, cursive; 
    color: blue; 
    background-color: rgb(204, 94, 204);
}

h1 {
    font-size: 24px; 
    font-weight: bold;
}

p {
    font-size: 22px; 
}
img {
    float: right;
  }